body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:107px;
  top:153px;
  width:23px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  visibility:hidden;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:107px;
  top:32px;
  width:623px;
  height:111px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:111px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:184px;
  top:100px;
  width:468px;
  height:300px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:300px;
}
#u5 {
  position:absolute;
  left:2px;
  top:142px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:318px;
  top:170px;
  width:200px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:318px;
  top:230px;
  width:200px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:270px;
  top:170px;
  width:58px;
  height:21px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:278px;
  top:230px;
  width:40px;
  height:25px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:368px;
  top:310px;
  width:100px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:436px;
  top:274px;
  width:82px;
  height:16px;
}
#u14 {
  position:absolute;
  left:16px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u13_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u15 {
  position:absolute;
  left:318px;
  top:274px;
  width:90px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
